.button {
    border: 2px solid $yellow;
    font-family: $main-font-stack;
    font-size: 13px;
    line-height: 9px;
    letter-spacing: 1px;
    transition: all 0.3s ease;

    @include atSmall {
        font-size: 16.78px;
    }

    &--black {
        background-color: $black;
        border-radius: 30px;
        color: #fff;
        margin-left: .5rem;
        padding: 1.8rem 3.8rem;
        text-transform: uppercase;
    }

    &--white {
        background-color: #fff;
        border-radius: 30px;
        padding: 1.5rem 4rem;
        text-transform: uppercase;

        @include atSmall {
            padding: 1.8rem 5.2rem;   
        }

        span {
            padding-left: 1.5rem;
        }
    }

    &--rectangle {
        background-color: transparent;
        font-size: 20px;
        margin: .5rem;
        padding: 1rem 2.5rem;

        &:hover {
            background-color: $yellow;
        }
    }

    &--rectangle-border-white {
        border: 2px solid #fff;
    }

    &--active {
        background-color: $yellow;
    }

    &:disabled {
        border: 2px solid #808080;

        &:hover {
            background-color: transparent;
            cursor: auto;
        }
    }

    &:hover {
        background-color: $yellow;
        cursor: pointer;
    }
}

.Photography {
  font-size: 20px;
  font-family: "Abel";
  color: rgb(24, 26, 31);
  line-height: 3.821;
  position: absolute;
  left: 1048.391px;
  top: 2801.199px;
  z-index: 99;
}
