.scroll-to-top {
  background-color: $yellow;
  color: $black;
  display: none;
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 28px;
  right: 20px;
  text-align: center;

  @include atMedium {
    right: 19.5%;
  }

  &--is-visible {
    display: block;
  }

  &:hover {
    cursor: pointer;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}