.generic-content {
    font-size: 20px;
    letter-spacing: 1.4px;
    line-height: 1.25;    
    margin: 0;
    padding: 0;
    width: 87%;

    &--center {
        margin: 0 auto;
        text-align: center;
    }

    &--white {
        color: #fff;
    }

    &--padding-left {
        @include atSmall {
            padding-left: 2rem;
        }
    }
}