.section-title {
    color: $yellow;
    font-size: 50px;
    letter-spacing: 3.7px;
    margin: 1rem 1rem 2.5rem;
    text-transform: uppercase;

    &--normal {
        text-transform: none;
    }

    &--black {
        color: $black;
    }
}