.site-header {
    background-color: $black;
    font-family: $main-font-stack;
    color: #fff;
    padding: 2rem 0 4rem;

    @include atSmall {
        padding: 3.7rem 0 14rem;        
    }

    img {
        position: relative;
        right: -11px;
        top: -16px;
    }

    &__nav {
       position: relative;        
    }

     .menu-icon {
        background-color: $yellow;
        width: 50px;
        height: 50px;
        position: absolute;
        top: -10px;
        right: 10px;

        @include atSmall {
            top: 0px;
            right: 0px;
        }

        &:hover {
            cursor: pointer;
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        
    }

    .hidden {
        display: none;
    }

    &__title {
        color: $yellow;
        font-size: 90px;
        font-weight: 100;
        letter-spacing: 13px;
        line-height: 1.023;
        margin: 4rem 0 0;
        padding-left: .1rem;
        text-transform: uppercase;

        @include atSmall {
            font-size: 176px;
            margin: 10.7rem .5rem 0;
        }
    }

    &__blurb {
        font-size: 15px;
        letter-spacing: 1.059px;
        line-height: 1.667;
        hyphens: auto;
        margin-top: .7rem;      
        padding: 0 .5rem 1.6rem;
        width: 70%;
        word-break: break-all;

        @include atSmall {
            width: 63%;
        }
    }
}
