.wrapper {
    margin: 0 auto;
    padding: .75rem;

    @include atSmall {
        width: 90%;
        padding: 0;
    }

    @include atMedium {
        width: 80%;
    }

    @include atLarge {
        width: 1170px;
    }
}