.contact {
  &__section {
    margin-top: 4rem;
    text-align: center;

    @include atMedium {
      margin-top: 7.5rem;
    }

    .form {
      box-sizing: border-box;
      margin: 0 auto;
      width: 300px;
      position: relative;

      @include atMedium {
        width: 630px;
      }

      &__section {
        position: relative;
        display: inline-block;

        &:first-of-type {
          margin-right: 25px;
        }
      }

      .input {
        border: 2px solid $black;
        font-family: $main-font-stack;
        margin-top: 1.15rem;
        padding: 1rem 1.5rem .5rem;
      }

      .input--short {
        box-sizing: border-box;
        width: 300px;
      }

      .input--long {
        box-sizing: border-box;
        width: 300px;

        @include atMedium {
          width: 630px;
        }
      }
      
      input {
        height: 50px;
      }

      textarea {
        height: 180px;
      }

      .label {
        font-weight: bold;
        letter-spacing: .05em;
        position: absolute;
        padding: 2.1rem 1rem;

        &-focus {
          font-size: 14px;
          padding: 1.3rem 1rem;
        }
      }

      .button--submit {
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 1rem 8rem;
      }
    }
  }

  label.invalid {
    color: #f00;
    position: absolute;
    left: 0;
    bottom: -17px;
  }

  input.invalid, textarea.invalid {
    outline: 1px solid #f00;
  }

  div.error {
    color: #f00;
  }
}