.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 220px;

    @include atSmall {
      width: 100%;
    }

    &__item {
      flex: 0 0 220px;
      display: flex;
      align-items: center;
      margin: .5rem;
    }

    &__icon {
      background-color: $black;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 85px;
      height: 85px;
    }

    &__details {
      padding-left: 1rem;

      p {
        margin: 0;
      }
    }
}