.contact-info {
    display: flex;
    flex-wrap: wrap;
    width: 220px;

    @include atLarge {
      width: 100%;
      flex-wrap: nowrap;
    }

    &__item {
      flex: 0 0 270px;
      display: flex;
      align-items: center;
      margin: 2rem;

      @include atSmall {
        margin: 1.7rem 3.4rem;
        margin-right: 4.6rem;
      }
    }

    &__icon {
      background-color: $black;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 85px;
    }

    &__details {
      font-size: 1.250em;
      letter-spacing: 0.063em;
      padding-left: 1.6rem;

      p {
        margin: 0;
      }
    }
}