.services {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    width: 100%;
    padding-bottom: 4.5rem;

    @include atLarge {
        flex-wrap: nowrap;
    }

    .service {
        flex: 0 0 33%;
        margin-right: 1rem;

        @include atSmall {
            margin-right: 0;
        }

        &__icon {
            background-color: $yellow;
            width: 80px;
            height: 75px;
            position: relative;
            left: 7px;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);  
            }
        }

        &__title {
            color: $yellow;
            font-size: 3.125em;
            font-weight: 100;
            letter-spacing: 0.244em;
            line-height: 1.528;            
            margin: 1.5rem 0 2rem;
            padding-left: .5rem;
            text-transform: uppercase;

            @include atSmall {
                margin: 2rem 0 2rem;
            }

            @include atMedium {
                margin: 1.8rem 0 2rem;                
            }
        }

        &__content {
            font-size: 0.938em;
            letter-spacing: 0.075em;
            line-height: 1.2;
            width: 285px;

            @include atSmall {
                width: 250px;
            }

            @include atLarge {
                padding-right: 2rem;                            
                width: 285px;
            }

            @include atLarge {
                position: relative;
                left: 49px;
                padding-right: 0;
                transform: scale(1.314, 1);
            }
        }
    }

    &__button {
        padding-bottom: 1.8rem;
        text-align: center;
    }
}
